/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 32px;
  &-list {

    @include mobile 
    {
      align-items: center;
      justify-content: center;
    }
    justify-content: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 180px,320px));
    grid-auto-rows: minmax(104px,190px);
    // align-items: center;
    // justify-items: center;
    width: 100%;
    max-width: 1400px;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    list-style: none;
    padding: 0;
    gap: 32px;
  }

  &-item {
    // @include tablet {
    //   margin: 0 15px 30px;
    // }


    // border: 1px solid $brand_color;
    background-color: rgb(220, 235, 243);
    border-radius: 8px;
    box-sizing: border-box;
    color: $text_color;
    display: flex;
    flex: 1 0 340px;
    margin: 0 0 30px;
    width: 100%;
    height: 100%;
    text-align: center;

    box-shadow:
      5px 0 7px rgba(0,0,0,0.08),
      9px 0 13px rgba(0,0,0,0.04),
      0 5px 7px rgba(0,0,0,0.22),
      0 9px 13px rgba(0,0,0,0.10);

    &:hover,
    &:focus,
    &:active {
      background-color: $brand_text_color;
      box-shadow:
        3px 0 5px rgba(0,0,0,0.08),
        7px 0 11px rgba(0,0,0,0.04),
        0 3px 5px rgba(0,0,0,0.22),
        0 7px 11px rgba(0,0,0,0.10);
      * {
        color: white;
        text-decoration: none;
      }
    }

    &-internal {
      background-color: transparent;
      border: 1px solid $low-contrast-border-color;

      .icon-lock {
        height: 15px;
        width: 15px;
        bottom: 5px;
        position: relative;
      }

      a { color: $text_color; }
    }
  }

  &-item-link {
    color: $text_color;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border-radius: inherit;

    &:visited 
    {
      text-decoration: none;
    }
    &:hover,
    &:active {
      color: inherit;
      text-decoration: none;
    }
    
    &:focus {
      @include focus-ring;
      text-decoration: none;
    }
  }

  &-item-title {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bolder;
  }

  &-item-description {
    margin: 0;
    max-height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
  }

  &-item-description:not(:empty) {
    margin-top: 10px;
  }
}
