/***** Category pages *****/
.category {
  &-container {
    display: flex;
    justify-content: flex-start;
  }

  &-content {
    // @include desktop {
    //   flex: 0 0 80%;
    // }

    // flex: 1;
    width: 100%;
  }
}

.section-tree {
  // Mobile (default)
  display: grid;
  grid-template-columns: 1fr; // 1 column on mobile
  gap: 24px; // Tighter gap for smaller screens

  // Tablet
  @include tablet {
    grid-template-columns: repeat(2, 1fr); // 2 columns
    gap: 32px;
  }

  // Desktop
  @include desktop {
    grid-template-columns: repeat(3, 1fr); // 3 columns on large screens
  }

  .section {
    background-color: white;
    border: 1px solid $low-contrast-border-color;
    border-radius: 8px;
    padding: 16px; // Tighter padding on mobile
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    max-width: 100%;

    @include tablet {
      padding: 24px; // More breathing room for larger screens
    }
  }

  &-title {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: $font-weight-semibold;
    a { color: $brand-text-color; }
  }

  .see-all-articles {
    display: block;
    padding: 15px 0 0 0;
    margin-top: 15px;
    border-top: 1px solid $low-contrast-border-color;
  }
}


.article-list {
  &-item {
    font-size: $font-size-bigger;
    padding: 15px 0;
    text-overflow: ellipsis;
    overflow: hidden;

    &:has(.icon-star)
    {
      .icon-file
      {
        display: none;
      }
    }

    a 
    {
      color: $text_color; 
      &:hover 
      {
        .icon-folder, .icon-file
        {
          color: $brand_text_color;
        }
        .icon-star
        {
          color: #E1BC21;
        }
      }

      .icon-folder , .icon-file
      {
        color: #989B9F;
      }
      
    }
  }
}

.icon-star {
  color: $brand_text_color;
  font-size: 18px;
}




