/***** Category pages *****/
.category {
  &-container {
    display: flex;
    justify-content: flex-start;
  }

  &-content {
    // @include desktop {
    //   flex: 0 0 80%;
    // }

    // flex: 1;
    width: 100%;
  }
}

.section-tree {
  @include tablet 
  {
    flex-direction: row; 
    
  }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;


  .section {
    @include tablet 
    { 
      flex: 0 0 45%; /* Two columns for tablet and desktop. Leaving 5% separation between columns */ 
      &:first-child
      { 
        border-right: 1px solid $low-contrast-border-color;
        padding-right: 2vw;
      }
    }
    
    flex: initial;
    max-width: 100%;
  }

  &-title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: $font-weight-semibold;

    /* a { color: $text_color; } */
    a { color: $brand-text-color; }
  }

  .see-all-articles {
    display: block;
    padding: 15px 0;
  }
}

.article-list {
  &-item {
    font-size: $font-size-bigger;
    padding: 15px 0;
    text-overflow: ellipsis;
    overflow: hidden;

    a { color: $text_color; }
  }
}

.icon-star {
  color: $brand_color;
  font-size: 18px;
}


