/***** Forms *****/

.form {
  margin-bottom: 32px;
}

.form button 
{
  margin-left: 0;
  width: auto;
  height: 44px;
  padding:0 16px;
  color:white;
  font-size: 19px;
  border-radius: 30px;
}

.form-field ~ .form-field {
  margin-top: 25px;
  
}

.form-field label {
  display: block;
  font-size: $font-size-small;
  margin-bottom: 5px;
}

.form-field
{
  input 
  {
    border: 1px solid $low-contrast-border-color;
    border-radius: 4px;
    padding: 10px;
    width: 100%;

    &:focus { border: 1px solid $brand_text_color; }
  }
}


.form-field input[type="text"] {
  border: 1px solid $low-contrast-border-color;
  border-radius: 4px;

  &:focus { border: 1px solid $brand_text_color; }
}

.form-field input[type="checkbox"] {
  width: auto;
}

// Select box
.form-field .nesty-input {
  border-radius: 4px;
  border: 1px solid $high-contrast-border-color;
  height: 40px;
  line-height: 40px;
  outline: none;
  vertical-align: middle;

  &:focus {
    border: 1px solid $brand_text_color;;
    text-decoration: none;
  }
}

.form-field .hc-multiselect {
  &-toggle {
    border: 1px solid $low-contrast-border-color;
  }
}

.form-field .hc-multiselect-toggle:focus {
  outline: none;
  border: 1px solid $brand_text_color;
  text-decoration: none;
}

.form-field textarea {
  vertical-align: middle;
}

.form-field input[type="checkbox"] + label {
  margin: 0 0 0 10px;
}

.form-field .optional {
  color: $secondary-text-color;
  margin-left: 4px;
}

.form-field p {
  color: $secondary-text-color;
  font-size: 12px;
  margin: 5px 0;
}

.form footer {
  // margin-top: 40px;
  margin-top: 16px;
  // padding-top: 30px;
}

.form footer a {
  color: $secondary-text-color;
  cursor: pointer;
  margin-right: 15px;
}

.form .suggestion-list {
  font-size: $font-size-small;
  margin-top: 30px;

  label {
    border-bottom: 1px solid $low-contrast-border-color;
    display: block;
    padding-bottom: 5px;
  }

  li {
    padding: 10px 0;

    a:visited { color: $visited_link_color; }
  }
}

// DevSciCloan Form Input Type Submit

//  .form footer input[type="submit"] //! Currently not being used. Input[type:submit] text was blurry so we are now using a button
//  {
//   display: inline-flex;
//   -webkit-box-align: center;
//   align-items: center;
//   -webkit-box-pack: center;
//   justify-content: center;
//   position: relative;
//   box-sizing: border-box;
//   -webkit-tap-highlight-color: transparent;
//   cursor: pointer;
//   user-select: none;
//   vertical-align: middle;
//   appearance: none;
//   text-transform: none;
//   font-family: "Nunito Sans";
//   font-size: 18px;
//   font-weight: 700;
//   line-height: 1.75;
//   min-width: 64px;
//   color: rgb(255, 255, 255);
//   background-color: rgb(239, 94, 57);
//   box-shadow: none;
//   outline: 0px;
//   border-width: 0px;
//   border-style: initial;
//   border-color: initial;
//   border-image: initial;
//   margin: 0 0 32px 0;
//   text-decoration: none;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   border-radius: 30px;
//   padding: 6px 28px;

//   &:hover 
//   {
//     background-color: rgb(167, 65, 39);
//   }
//  }

.form input[type="text"]
{
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 4px;
}

.hbs-form select 
{
  border: 1px solid $low-contrast-border-color;
  color: inherit; // default color

  &:focus {
    border: 1px solid $brand-text-color;
  }

  // When the hidden placeholder is the selected value
  &:has(> option[hidden][value=""]:checked) {
    color: rgba(0, 0, 0, 0.6); 
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
  }

  option { color: initial; }      // reset list item colors
  option:checked { color: inherit; }
}

// Once a real value is selected, revert the color
.hbs-form select:not(:has(> option[value=""]:checked)) {
  color: inherit; 
}


