/***** Hero component *****/
// .hero {
//   background-image: url($homepage_background_image);
//   background-position: center;
//   background-size: cover;
//   height: 300px;
//   padding: 0 20px;
//   text-align: center;
//   width: 100%;
//   

//   &-inner {
//     @include vertical-align;
//     max-width: 610px;
//     margin: 0 auto;
//   }
// }

.hero 
{
  background: #0081a0;
  padding: 16px 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  min-height: 386px;
  &:not(:has(.hero-outer))
  {
    min-height: 200px;
    .hero-inner
    {
      max-width: 718px;
    }
  }

  &-inner 
  {
    display: flex;
    width: 100%;
    justify-self: flex-start;
    max-width: 846px;
  }

  &-image
  {
    @include mobile 
    {
      // display: none;
      position: relative;
      right: 50%;
      margin: -10%;
    }
    height: 100%;
    width: 25%;
    max-width: 336px;
    align-items: center;
    svg 
    {
      @include mobile 
      {
        margin:0px;
        position: absolute;
        top: -270px;
      }
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      margin-right: -7rem;
      margin-top: -2rem;
      margin-bottom: -2rem;
    }
  }
}

.hero-inner .search-bar-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @include mobile {flex-direction: column;}
  .button 
  {
    width: 162px;
  }
}

.hero-outer 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  .search-title
  {
    margin-bottom: 8px;
    h1 
    {
      @include mobile
      {
        font-size: clamp(28px,7vw,40px);
      }
      font-size: clamp(30px, 5vw, 72px);
      min-width: max-content;
    }
  }
}


