/***** Section pages *****/
.section {
  &-container {
    display: flex;
    justify-content: flex-start;
  }

  &-content {
    @include desktop {
      flex: 0 0 80%;
    }
    flex: 1;
    max-width: 100%
  }

  &-subscribe button {
    // @extend .button;
    font-size: 18px;
    padding: 5px 16px;
    background-color: transparent;
    border: 2px solid $low-contrast-border-color;
    color: $high-contrast-border-color !important;
    border-radius: 30px;
    text-decoration: none;
    &:hover 
    {
      background-color: white !important;
      border: 2px solid $high-contrast-border-color;
      color: $text_color !important;
      cursor: pointer;
    }
    &[data-selected="true"] {
      @extend .button-primary;
    }
  }
}

.section-list {
  margin: 40px 0;
}

.section-list-item {
  border-bottom: 1px solid $low-contrast-border-color;
  font-size: $font-size-bigger;
  padding: 15px 0;

  &:first-child {
    border-top: 1px solid $low-contrast-border-color;
  }

  a {
    align-items: center;
    color: $text_color;
    display: flex;
    justify-content: space-between;
  }
}

.see-all-sections-trigger {
  cursor: pointer;
  display: block;
  padding: 15px;
  text-align: center;

  &[aria-hidden="true"] {
    display: none;
  }
}
